@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 8, 23;
  --background-end-rgb: 2, 8, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(2, 8, 23);
}

::-webkit-scrollbar-thumb {
  background: rgb(147, 51, 234);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 85, 247);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
